{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total | usd }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock in all_stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ store_stocks[stock["symbol"]]["name"] }}</td>
                    <td>{{ stock["totalshares"] }}</td>
                    <td>{{ store_stocks[stock["symbol"]]["price"] | usd }}</td>
                    <td>{{ (store_stocks[stock["symbol"]]["price"] * stock["totalshares"]) | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}